
venv/

Script/.idea/

Script/com/__pycache__/

Script/__pycache__/

Script/Locality/__pycache__/

Script/DataClensing/__pycache__/

Script/ext/__pycache__/

Script/applicationSettings/__pycache__/

Script/Form/__pycache__/

Data/temp.csv
